.hotel {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 450px;
  height: 75vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hotel__img {
  width: 100%;
  height: 250px;
  display: block;
}

.hotel__img img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
}

.hotel__info__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.hotel__price {
  padding-right: 20px;
  font-weight: bold;
}

.hotel__top__name {
  padding-left: 20px;
}

.hotel__name {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.hotel__amenities {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hotel__amenities li {
  list-style: square;
  font-weight: lighter;
}

.hotel__info__block {
  padding: 10px 0;
}

.hotel__info__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.hotel__map {
  width: 100%;
  height: 60%;
  background: rgba(255, 0, 0, 0.5);
}

.hotel__review__author {
  font-weight: bold;
  margin-top: 3px;
}
