.deck {
  display: block;
  position: relative;
  margin: 1rem auto;
  padding: 0;
}

.deck__card {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
}

.deck-buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.deck-btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
}

.skip {
  margin-right: 10px;
  background-color: red;
}

.add {
  margin-left:10px;
  background-color: lightgreen;
}

@media (min-width: 800px) {
  .deck__card {
    width: auto;
  }
}
